<div class="btn-group filterSectionClass" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary buttonSelection">All</button>
    <button type="button" class="btn btn-outline-secondary buttonSelection">Food</button>
    <button type="button" class="btn btn-outline-secondary buttonSelection">Games</button>
    <button type="button" class="btn btn-outline-secondary buttonSelection">Sports</button>
    <button type="button" class="btn btn-outline-secondary buttonSelection">Technology</button>
    <button type="button" class="btn btn-outline-secondary buttonSelection">Movies</button>
</div>

